name: Steep type check
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  type-check:
    runs-on: ubuntu-22.04
    env:
      INSTALL_STEEP: 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - name: Run Steep check
        run: bundle exec steep check
